<div class="row" style="padding: 0 32px; margin-top:20px">
  <div class="span6 offset3">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="control-group">
        <%= f.label :email, nil, :class => 'control-label' %>
        <div class="controls">
          <%= f.email_field :email, :autofocus => true, :class => 'span6' %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.submit('Send me reset password instructions', :class => 'btn btn-primary btn-embossed') %>
          <%= link_to "Or sign in", new_session_path(resource_name), :class => 'pull-right' %>
        </div>
      </div>
    <% end %>
  </div>
</div>