<div id="states" class="row" style="padding: 0 32px; margin-top:20px">
  <div class="span12">
    <h3 style="display: inline">User States</h3>

    <div class="pull-right">
      <div class="btn-toolbar">
        <div class="btn-group">
          <%= link_to(new_project_state_path(@project), class:"btn btn-primary", title:"Add State") do %>
            <i class="fui-plus-inverted"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="pull-right">
      <div id="replay-toolbar" class="btn-toolbar" style="margin-right:20px">
        <div class="btn-group">
          <%= link_to("Replay:", '#', class:"btn btn-warning disabled", style:"color:white") %>
          <%= link_to('#', id:"replay-play", class:"btn btn-warning", title:"Replay State Transitions") do %>
            <i class="fui-play"></i>
          <% end %>
          <%= link_to('#', id:"replay-close", class:"btn btn-warning", title:"Turn Off Replay") do %>
            <i class="fui-cross"></i>
          <% end %>
        </div>
      </div>
    </div>

    <% if @project.states.count == 0 %>
      <p>It doesn't look like you've set up any user states yet.</p>

    <% else %>
      <div id="chart"></div>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    landmark.state.initialize(<%= @project.id %>);
  })
</script>
