<%= form_tag(properties_path) do %>
  <div class="control-group">
    <%= label_tag :name, nil, :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :name %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :type, nil, :class => 'control-label' %>
    <div class="controls clearfix">
      <div class="row">
        <div class="span3">
          <select name="large" class="select-block mbl">
            <option value="user">User Property</option>
            <option value="action">Action Property</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :data_type, nil, :class => 'control-label' %>
    <div class="controls clearfix">
      <div class="row">
        <div class="span3">
          <select name="large" class="select-block mbl">
            <option value="factor">Categorical</option>
            <option value="string">String</option>
            <option value="integer">Integer</option>
            <option value="float">Decimal</option>
            <option value="boolean">Yes/No</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= submit_tag('Create Property', :class => 'btn btn-primary btn-embossed') %>
    </div>
  </div>
<% end %>
