<div class="row" style="padding: 0 32px; margin-top:20px">
  <div class="span4 offset4">
    <h2>Sign in</h2>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.hidden_field :remember_me, :value => '1' %>

      <div class="control-group">
        <%= f.label :email, nil, :class => 'control-label' %>
        <div class="controls">
          <%= f.email_field :email, :autofocus => true, :class => 'span4' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password, nil, :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :password, :class => 'span4' %><br/>
        </div>
      </div>

      <div class="control-group" style="padding-top:4px">
        <div class="controls">
          <%= f.submit('Sign in', :class => 'btn btn-primary btn-embossed') %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'pull-right' %>
        </div>
      </div>
    <% end %>
  </div>
</div>