<!DOCTYPE html>
<html>
<head>
  <title>Landmark</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar header">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01">
      </button>
      <a href="#" class="brand">Landmark</a>

      <div class="nav-collapse collapse" id="nav-collapse-01">
        <ul class="nav">
          <li class="<%= request.path == '/' ? 'active' : '' %>">
            <%= link_to('Flow', root_path) %>
          </li>
          <li class="<%= request.path.index('/properties') == 0 ? 'active' : '' %>">
            <%= link_to('Properties', properties_path) %>
          </li>
          <li><a href="#">Account</a></li>
        </ul> <!-- /nav -->

        <!--
        <form class="navbar-search form-search pull-right" action="">
          <div class="input-append">
            <input type="text" class="search-query span3" placeholder="Search">
            <button type="submit" class="btn btn-large">
              <i class="fui-search"></i>
            </button>
          </div>
        </form>
        -->
      </div>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
