<!DOCTYPE html>
<html>
    <head>
        <title>MegaCorp (Landmark Demo)</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%= stylesheet_link_tag "demo", :media => "all" %>
    </head>
    <body>
        <div id="over">
        <div id="out_container">
<!-- THE LINE AT THE VERY TOP OF THE PAGE -->
        <div class="top_line"></div>
<!-- HEADER AREA -->
        <header>
            <div class="container">
                <div class="row">
                    <!-- HEADER: LOGO AREA -->
                    <div class="span4 logo">
                        <a class="logo" href="/demo">
                            <img alt="logo" title="bizstrap" src="/assets/demo/logo.png">
                        </a>
                    </div>
                    <div class="span4 offset4">
                        <!-- HEADER: PHONE NUMBER -->
                        <p class="head_phone"><a href="tel:555-555-5555">(800) 555-5555</a></p>
                    </div>
                    <!-- HEADER: SOCIAL ICONS -->
                    <ul class="socials unstyled">
                        <li><a class="twitter" href="https://twitter.com/landmarkio"></a></li>
                        <li><a class="facebook" href="https://facebook.com"></a></li>
                        <li><a class="youtube" href="https://youtube.com"></a></li>
                        <li><a class="linkedin" href="https://linkedin.com"></a></li>
                        <li><a class="google_plus" href="https://plus.google.com"></a></li>
                    </ul>
                </div>
            </div>
            <!-- HEADER: PRIMARY SITE NAVIGATION -->
            <div class="container">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <div class="buttons-container">
                            </div>
                            <div class="nav-collapse">
                                <ul class="nav nav-pills">
                                    <li class="active">
                                        <a href="/demo">
                                            HOME
                                        </a>
                                    </li>
                                    <li>
                                        <%= link_to('PRICING', pricing_demo_path) %>
                                    </li>
                                    <li>
                                        <%= link_to('SIGN UP', signup_demo_path) %>
                                    </li>
                                    <li>
                                        <%= link_to('BLOG', blog_demo_path) %>
                                    </li>
                                    <li>
                                        <%= link_to('ABOUT', about_demo_path) %>
                                    </li>
                                    <li>
                                        <%= link_to('CONTACT', contact_demo_path) %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <%= yield %>

        <!-- FOOTER STARTS HERE -->
        <footer id="footer">
            <div class="footer-top"></div>
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row show-grid">
                        <div class="span12">
                            <div class="row show-grid">
                                <!-- FOOTER: LOGO -->
                                <div class="span4">
                                    <!-- FOOTER: ADDRESS -->
                                    <address class="address">
                                        <p><i class="icon-map-marker icon-large"></i>123 Fake St.</p>
                                        <p><i>&nbsp;</i>Suite 1000</p>
                                        <p><i>&nbsp;</i>Denver, CO 80205</p>
                                        <p><i class="icon-phone icon-large"></i>Phone: (800) 555-5555</p>
                                        <p><i class="icon-print icon-large"></i>Fax: (800) 555-5555</p>
                                    </address>
                                </div>
                                <!-- FOOTER: ABOUT US -->
                                <div class="span4 footer-center">
                                    <h4 class="center-title">About Us</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.</p>
                                </div>
                                <!-- FOOTER: NAVIGATION LINKS -->
                                <div class="span4 footer-right">
                                    <h4 class="center-title">Navigate</h4>
                                    <ul class="footer-navigate">
                                        <li>
                                            <a href="">Home</a>
                                        </li>
                                        <li>
                                            <a href="">Features</a>
                                        </li>
                                        <li>
                                            <a href="">Pages</a>
                                        </li>
                                        <li>
                                            <a href="">Portfolio</a>
                                        </li>
                                        <li>
                                            <a href="">Blog</a>
                                        </li>
                                        <li>
                                            <a href="">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- END FOOTER -->
    </div>
    </div>

    <%= javascript_include_tag "demo" %>

    <script type="text/javascript" src="/landmark.js" data-api-key="demo"></script>
    </body>
</html>
