<% if !@account.errors.empty? %>
  <div class="row" style="padding: 0 32px; margin-top:20px">
    <div class="span8 offset2">
      <div class="alert alert-error">
        <%= @account.errors.full_messages.join("<br/>")%>
      </div>
    </div>
  </div>
<% end %>

<div class="row" style="padding: 0 32px; margin-top:20px">
  <div class="span4 offset4">
    <h2>Sign Up</h2>

    <%= form_for(@account, :url => signup_path) do |f| %>
      <div class="control-group">
        <%= f.label :name, 'Account Name', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, :autofocus => true, :class => 'span4' %>
        </div>
      </div>

      <%= f.fields_for :users do |uf| %>
        <div class="control-group">
          <%= uf.label :email, nil, :class => 'control-label' %>
          <div class="controls">
            <%= uf.email_field :email, :autofocus => true, :class => 'span4' %>
          </div>
        </div>

        <div class="control-group">
          <%= uf.label :password, nil, :class => 'control-label' %>
          <div class="controls">
            <%= uf.password_field :password, :class => 'span4' %><br/>
          </div>
        </div>
      <% end %>

      <div class="control-group" style="padding-top:4px">
        <div class="controls">
          <%= f.submit('Sign up', :class => 'btn btn-primary btn-embossed') %>
        </div>
      </div>
    <% end %>
  </div>
</div>
